
.todo { 

    width: 100%;
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tablan {

    width: 250px;
    background-color: bisque;
    border: 1px solid #000000;
    margin: 10px;
    display: flex;
    justify-content: center;

}
